{% extends "base.html" %}

{%block content%}

<style>
    body{
        background-color: coral;
    }
    h1,h2{
        color: white;
    }
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>There was an error!</h2>
                <h2>{{error}}</h2>
                <div class="error-details">
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-outline-light btn-lg"><span class="glyphicon glyphicon-home"></span>Return</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
